body {
	font-size:12px;
	background-color:white;
	margin: 0 auto;
}

header {
	font-family:"Lato";
	margin:10px auto 10px auto;
	padding:20px;

}

header .row, footer .row {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

header h1 {
	font-size:50px;
	font-style:bold;
	font-family: 'Dancing Script', cursive;
	margin: 0;
}

header nav li {
	color:white;
	display: inline;
	padding:15px 30px 15px 30px;
	width:100px;
	text-align:left;
	background-color:#424242;
}

header nav li a {
	color:white;
	font-size:16px;
	text-transform:uppercase;
	position:relative;
	text-decoration:none;
}


header nav li:hover {
	background-color: #000000;
}

header nav li a:visited {
	background-color: #610B21;
}

header nav li a:active {
	top:2px;
}

header nav li a:hover {
	text-decoration:none;
}

section .row img{
	background-color: #efefef;
	width:300px;
	height:300px;
	margin:10px;
	display: inline;
}

footer {
	padding: 10px;
	margin:10px;
	font-size:16px;
	font-family: 'Crimson Text', serif;
}

footer ul {
	list-style:none;
}

footer li img {
	width:32px;
	height:32px;
}